@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Seymour+One&display=swap');

body {
    background-color: #092635;
    color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

h1,
p,
h2 {
    margin: 0;
}

.gamename {
    font-family: "Seymour One", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 30px;
    text-align: center;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B4242;
    padding: 20px 30px;
    border-radius: 10px;
    color: #eaeaea;
    text-align: center;
}

.game-des {
    font-size: 14px;
    padding-bottom: 60px;
    color: #c1c1c1;

}


h2 {
    padding-bottom: 20px;

}


input {
    width: 70%;
    height: 35px;
    border-radius: 3px;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 14px;
    background-color: #eaeaea;
}

#message {
    margin-top: 20px;
}

.restart-game {
    margin-top: 30px;
    font-family: "Seymour One", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    color: #afe3d1;
}

.game-info {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 60px;
    margin-bottom: 30px;
    color: #c1c1c1;

}

#previous-guesses {
    padding: 5px;
    border-radius: 5px;
    background: #455a53;
}

button {
    background: #9EC8B9;
    width: 70%;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;

}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}